body {
  background-color: #8f8e8d;
}

.header-img {
  width: 100%;
}

.footer {
  text-align: center;
}

.header {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}
