body {
  background-color: #8f8e8d;
}

.header-img {
  width: 100%;
}

.footer {
  text-align: center;
}

.header {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

/*layout1*/

.layout {
  margin-top: 150px;

}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.two-panels img {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    /*min-width: 100%;
    min-height: 100%*/
}

.one-panel img {
    flex-shrink: 0;
    height: 250px;
    width: 506px;
    /*min-width: 100%;
    min-height: 100%*/
}

.one-panel {
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
  height: 250px;
  width: 506px;
  border-style: solid;
  border-width: 3px black;
  outline: 6px solid white;
}

.two-panels {
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 3px black;
  outline: 6px solid white;
}
