body {
  background-color: #8f8e8d;
}

.header-img {
  width: 100%;
}

.footer {
  text-align: center;
}

.header {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

/*page-layout-form*/

#layoutExample {
  height: 200px;
  width: 200px;
}

/*layout1*/

.layout {
  margin-top: 150px;

}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.two-panels img {
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    /*min-width: 100%;
    min-height: 100%*/
}

.one-panel img {
    flex-shrink: 0;
    height: 250px;
    width: 506px;
    /*min-width: 100%;
    min-height: 100%*/
}

.one-panel {
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
  height: 250px;
  width: 506px;
  border-style: solid;
  border-width: 3px black;
  outline: 6px solid white;
}

.two-panels {
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-right: 3px;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 3px black;
  outline: 6px solid white;
}

.img-one {
  position:absolute;
  z-index: 1;
}

.img-two {
  position: absolute;;
  z-index: 2;
  width: auto!important;
  height: auto!important;
}

.img-three {
  position: absolute;;
  z-index: 3;
  width: auto!important;
  height: auto!important;
}

.topright {
  /*the css below is to position the element only*/
  z-index: 4;
  position: absolute;
  top: 8px;
  right: 16px;
  /*the css below is to make the bubble only*/
  width: 190px;
  height: 70px;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  border-radius: 43px;
  border: #000000 solid 3px;
  font-size: 18px;
}

.topleft {
  /*the css below is to position the element only*/
  z-index: 4;
  position: absolute;
  top: 8px;
  left: 16px;
  /*the css below is to make the bubble only*/
  width: 190px;
  height: 70px;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  border-radius: 43px;
  border: #000000 solid 3px;
  font-size: 18px;
}

.center {
  /*the css below is to position the element only*/
  z-index: 4;
  position: absolute;
  top: 8px;
  margin: auto;
  /*the css below is to make the bubble only*/
  width: 190px;
  height: 70px;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  border-radius: 43px;
  border: #000000 solid 3px;
  font-size: 18px;
}
