<div class="container">
  <div class="row">
    <div class="col-md-6">
      #parse( $first-page )
      <!-- page 1 goes here -->
    </div>
    <div class="col-md-6">
      #parse( $second-page )
      <!-- page 2 goes here -->
    </div>
  </div>
</div>
